@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-dark-tremor-background bg-tremor-background-subtle
  }
  label {
    @apply md:w-2/3 w-full
  }
  input {
    @apply dark:border-dark-tremor-border border-tremor-border border rounded-lg text-lg p-1 rtl:text-right ltr:text-left mt-1 mb-3 
  }
  textarea {
    @apply dark:border-dark-tremor-border border-tremor-border border rounded-lg text-lg p-1 rtl:text-right ltr:text-left mt-1 mb-3
  }
}
.rubik-light {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.rubik-semibold {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.rubik-bold {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;

}

html, body, main {
  width: 100%;
  min-height: 100%;
}